<%- include('../partials/header') %>
    <div class="container">
        <% blogs.forEach((blog)=> { %>
            <div class="post mx-3">
                <div class="header_post">
                    <img src="/<%= blog.blogimage %>" alt="">
                </div>

                <div class="body_post">
                    <div class="post_content">

                        <h1>
                            <%= blog.title %>
                        </h1>
                        <p>
                            <%= blog.description %>
                        </p>

                        <div class="container_infos">
                            <div class="postedBy">
                                <span>Date</span>
                                <%= new Date(blog.createdAt).toLocaleString() %>
                            </div>

                            <div class="container_tags">
                                <span>Author</span>
                                <div class="tags">
                                    <ul>
                                        <li>
                                            <%= blog.username %>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
    <%- include('../partials/footer') %>